*{
  margin: 0px;
  padding:0px;
  font-family: courier new;
}
/*
body{
  background: #3e5669;
}
main{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%)
  
}
input{
  border:3px solid #32e17c;
  height:40px;
  width:300px;
  border radius: 50px;
  padding:0px 10px;
}
*/


#sidebar {
  position: fixed;
  top:0;
  left:-200px;
  
  width: 200px;
  height: 100%;
  background: #242423;
  transition:all 500ms;
  text-align:center;
  color: #f5f2f7;
  border-bottom: 3px solid rgba(176, 181, 177,0.8);
  border-right: 3px solid rgba(176, 181, 177,0.8);
}

#sidebar.active{
  left:0px;
  
}

#sidebar ul li{
  color:rgba(230,230,230,0.9);
  list-style: none;
  text-align: center;
  border-bottom:1px solid rgba(100,100,100,0.3);
  
}

#sidebar .toggle-btn{
  position: absolute;
  left: 215px;
  top: 50px;
  
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #898f8b;
  margin:5px 0px;
}

#sidebar .reviewbutton {
  background-color: #242423; /* Green */
  border: none;
  color: white;
  padding:15px 32px 15px 32px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#locationSearch{
  text-align: center;
  background-color: #242423;
  color: white;
  font-size: 16px;
}

.logo img{
    
   padding: 230px 25px;
     
    width: 50px;
    display: flex;
    text-align: center;
    align-items: stretch;
   height: 300px;
    width: 150px;
}
.thanku{
  
}
