body {
  background: linear-gradient(90deg, #362899, #331945);

  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align: center;
}
input[type="text"] {
  font-family: Impact, Charcoal, sans-serif;

  font-size: 14px;
  font-style: normal;
  border: 1px solid white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
}

/*input[type=checkbox] + label {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("https://cdn.glitch.com/44cd3a50-6e4b-4146-9fa2-b263cfc369cc%2Fchukwuebukass.png?1595979348430") no-repeat;
    height: 30px;
    width: 30px;;
  
}
*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;

  background: url("https://cdn.glitch.com/44cd3a50-6e4b-4146-9fa2-b263cfc369cc%2Fthumbnails%2Febe6d2b7-aaee-459b-b5e3-c011cbaf3eef.image.png?1596061874102")
    no-repeat;
  height: 30px;
  width: 30px;
  background-size: 100%;
}
input[type="checkbox"]#sink:checked + label {
  margin-right: 10px;
  background: url("https://cdn.glitch.com/44cd3a50-6e4b-4146-9fa2-b263cfc369cc%2Fthumbnails%2F0b4b046c-a376-4a1b-8938-aa7839d79d3c.image.png?1596064358545")
    no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 100%;
}

input[type="checkbox"]:checked + label {
  margin-right: 10px;
  background: url("https://cdn.glitch.com/44cd3a50-6e4b-4146-9fa2-b263cfc369cc%2Fthumbnails%2F0b4b046c-a376-4a1b-8938-aa7839d79d3c.image.png?1596064358545")
    no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 100%;
}


/*input[type="checkbox"] {
  vertical-align: middle;
  display: inline-block;
  background: red;
  height: 30px;
  width: 30px;
} */



