body {
  background: linear-gradient(90deg, #362899, #331945);
  
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align: center;

}
input[type="text"] {
  font-family: Impact, Charcoal, sans-serif;
  
  font-size: 14px;
  font-style: normal;
  border: 1px solid white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
}

input[type=checkbox] + label {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("https://pbs.twimg.com/profile_images/550291079719698432/LbybHjIh.jpeg") no-repeat;
    height: 125px;
    width: 125px;;
    background-size: 50%;
}

/*input[type="checkbox"] {
  vertical-align: middle;
  display: inline-block;
  background: red;
  height: 30px;
  width: 30px;
} */
#sink{
  background-image: url("https://cdn.glitch.com/44cd3a50-6e4b-4146-9fa2-b263cfc369cc%2Fchukwuebukass.png?1595979348430");
}

